<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cache</title>
</head>
<body>

<div style="padding: 5%">
    <form class="form-horizontal cv-form" action="#" th:action="@{/save}" th:object="${devFormModel}" method="post">
        <div class="form-group">
            <label class="control-label col-sm-2" for="firstName">First Name:</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="firstName" id="firstName" th:field="*{firstName}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="lastName">Last Name:</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="lastName" id="lastName" th:field="*{lastName}"><br>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="salary">Salary:</label>
            <div class="col-sm-6">
                <input class="form-control" type="number" name="salary" id="salary" th:field="*{salary}"><br>
            </div>
        </div>
        <div class="form-group">
        <div class="row" th:each="gen : ${T(org.prezydium.caching.model.Gender).values()}">
                <label class="col-sm-2 control-label" th:for="${gen}" th:text="${gen}"></label>
                <input class="col-sm-1" type="radio" th:id="${{gen}}" th:value="${{gen}}" th:field="*{gender}"/>
            </div>
            <br><br>
        </div>
        <div class="form-group">
            <div class="row" th:each="lang : ${T(org.prezydium.caching.model.ProgrammingLanguages).values()}">
                <label class="col-sm-2 control-label" th:for="${lang}" th:text="${lang}"></label>
                <input class="col-sm-1" type="checkbox" th:id="${{lang}}" th:value="${{lang}}"
                       th:field="*{knownLanguages}"/>
            </div>
        </div>
            <br><br>
        <input type="submit" class="btn btn-primary" value="Submit data">
    </form>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>